<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link th:href="@{css/main.css}" rel="stylesheet">


</head>
<body th:style="'background-color: #f2f2f2;'">

<div class="container" th:style="'    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;'">
    <div class="header" th:style="'    text-align: center;
    margin-bottom: 20px;'">
        </div>
    <div class="main"th:style="' text-align: center;'">
        <form th:action="@{/login}" th:object="${loginForm}" method="post" class="form-signin" th:style="'  display: inline-block;
    padding: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);'">

            <p th:if="${invalidCredentials}" style="color:red; font-size: 22px; font-weight:bold;"> Username or Password is wrong!</p>

            <div class="form-group" th:style="' margin-bottom: 20px;'">
                <label for="username"><i class="fa fa-user" th:style="' display: block;
    margin-bottom: 5px;
    font-weight: bold;'"></i> Username</label>
                <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" required th:style="' width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;'"/>
            </div>
            <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i> Password</label>
                <input type="password" class="form-control" id="password" name="password" required/>
            </div>
            <button type="submit" class="btn btn-primary" th:style="'   display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;'">Login</button>

        </form>
    </div>
</div>

</body>
</html>
